.card-add-service {
  width: 285px;
  height: 400px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px;
  background-color: #fff;
}

.card-add-service:hover {
  transition: all 0.3s ease;
  transform: translateY(-5px);
  background-color: rgba(108, 92, 231, 0.1);
}

.rounded-circle {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border: 4px solid #7749f8;
}

.card-add-service-title {
  padding-top: 32px;
  padding-bottom: 16px;
}

.card-add-service-text {
  padding-bottom: 20px;
}

.btn-add-service {
  background-color: #7749f8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
}
