.btn-login {  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.btn-login:hover {
  background-color: #0056b3;
}